
body{
  background-color: #121111;
}

html {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }

/* header container  */
  header {
  width: 100%;
  display: flex;
  align-items: center; /* Vertically center the items */
  justify-content: center; /* Horizontally center the items */
  background-color: #201e1e;
  margin-bottom: 1em;
}

/* header text */
header > h1 {
  font-size: 3em;
  color: #1BF2EF;
  margin: 0; 
}

/* style of logo in header  */
.logo {
  width: 50px;
  height: 50px;
  margin-right: 1em; 
}

/* insturctions text */
.instructions{
  color:#5e36e5;
  text-align: center;
  margin-top: 30px;
  font-size: 17px;
  padding: 5px;
}

/* style of the form*/               
  form {
    width: 90vw;
    max-width: 30vw;
    min-width: 400px;
    margin: 0 auto;
    border: 2em ;
    font-size: 16px;
  }

  /* style the layout of each row */           
  .form-row {
    display: flex;
    justify-content: flex-end;
  }

 /* style the label for the fields */           
  .form-row > label {
    z-index: 99999;
    width: 10em;
    background-color: aqua;
    border-radius: 10em;
    padding: 1em;
   margin: 2em;
   margin-right: 0;
   border-right: 0;
   padding-right: 0;
  }

 /* style the input fields */
  .form-row > input {
    background-color: #201e1e;
    border-top-right-radius:10em ;
    border-bottom-right-radius:10em ;
    border: none;
    padding-left: 0;
    flex-grow: 1;
    margin: 2em;
    margin-left: -20px;
   border-left: 0;
   padding-left: 0;
   text-indent: 30px;
   color: aliceblue;
  }
/* submit button */
  .form-row > input[type=submit]{
    background-color: #5e36e5;
    border-radius: 10em;
    margin: 2em;
    height: 3em;
    width: 10px;
  }

  /* placeholder text  */
  ::placeholder{
    font-size: 14px;
    opacity: 90%;
    padding-right: 10px;
  }

  /* confirnation popup  */
  .confirmpopup{
    color: #00ff33;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 2px;
    font-size: 2vw;
    margin: auto;
    background-color: #201e1e;
    border-radius: 100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    /* no log popup history screen */
  .popup{
  color: #00ff33;
text-align: center;
margin: auto;
margin-top: 200px;
width: 400px;
font-size: 3vw;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color: #201e1e;
    border-radius: 100px;
  }

/* no log pop up edit screeb */
  .popupedit{
color: #00ff33;
text-align: center;
margin: auto;
margin-top: 200px;
width: 400px;
font-size: 3vw;
background-color: #201e1e;
    border-radius: 100px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }


  /* style of the list and reverse the order to ensure newest input is at the top */
  .tasklist{
  color: #121111;
  padding: 0px;
      background-color:#5e36e5;
      border-radius: 100px;
      max-width: 30vw;
      min-width: 300px;
      margin: 20px;
      margin-left:  auto;
      margin-right:  auto;
      font-size: 1em;
      display:flex;
      flex-direction: column-reverse;
      list-style-type: none;
  }

/* class for items hidden in expanded (Values) */
.listclass{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
padding-right: 15px;
 
}

/* style targeting the label (exercise name and date) */
.labelclass{
  color: rgb(8, 20, 43);
  padding-bottom: 0;
}

/* excercise name  */
.tasknametext{
  text-transform: uppercase;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: bold;
  align-content: flex-end;
  display: inline-flex;
  padding: 1em;
  margin-left: 30px;
  color:#201e1e;
  margin-bottom: 0;
}

/* excerise date */
.taskdatetext{
  font-size: 15px;
  float: right;
  color:#65666d;
  display: inline-flex;
  justify-content: flex-end;
  border-radius: 10em;
  background-color:#201e1e;
  border-radius: 10em;
  padding: 1em;
  margin-bottom: 0;
}

/* titles when item is exoanded */
.expandlist {
  color:#201e1e;
  font-size: 15px;
  list-style-type: none;
  }
  
  /* values of titles when expanded */
  .expandlistvalue{
    font-size: 15px;
    text-align: left;
    list-style-type: none;
  }

  /* style delete button */
  .deleteButton{
    display: flex;
  flex-direction: row-reverse;
   align-content: end;
   justify-content: flex-end;
    width: 20px;
    border: none;
    flex-direction: row;
    background-color:#121111;
  }

/* style hover and x symbol */
  .deleteButton:hover:after{
    content: "\d7";
    font-size: 40px; 
    color: red;
    text-align: center;
  }

  /* style for - symbol */
  .deleteButton:after {
    content: "\002D"; 
    font-size: 40px; 
    color: red;
    text-align: center;
}








/* ///media query// */
@media screen and (max-width: 450px) {

/* excercise name  */
.tasknametext{
  font-size: 13px;

}

/* excerise date */
.taskdatetext{
  font-size: 13px;
}

/* titles when item is exoanded */
.expandlist {
  font-size: 10px;
  }
  
  /* values of titles when expanded */
  .expandlistvalue{
    font-size: 10px;
  }

/* style hover and x symbol */
  .deleteButton:hover:after{
    font-size: 50px; 
    
  }

  /* style for - symbol */
  .deleteButton:after {
    font-size: 50px; 
  
}

}
 

